
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
a
{
    margin: 0px;
    font-family: 'Inconsolata', monospace;
}
#nav-content
{
    background-color: darkred;
}
#ul-content
{
    list-style: none;
    display: flex;
    width: 30%;
    margin: auto;
}
#li-content
{
    padding: 30px;
}
#li-content a
{
    color: #fff;
    text-decoration: none;
}
.Logo_top
{
    width: 75px;
    float: left;
    padding-top: 10px;
}
.About_img
{
    width: 250px;
    height: 300px;
    border-radius: 5px;
    box-shadow: outset 25px grey;
}